<h1 class="text-center">What's Your Favorite Color?</h1>
<% @colors.each do |color| %>
  <div class="booyah-box col-10 offset-1">
    <h2><%= color.name %></h2>
    <i><%= color.fave_color %></i><br /><br />
  </div>
<% end %>