@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 200;
}

body {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

.color-choice {
  font-size: 20px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.navbar {
  background: image_url('subtle_carbon.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #ff99cc;
  font-family: 'Abril Fatface', cursive;
}














